.Landing-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: "Roboto"; 
}
.masked-text-1{
    background: url("../../Media/green.png");
    background-size: 400%;
    background-position: 50% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.masked-text-2{
    background: url("../../Media/blue.png");
    background-size: 400%;
    background-position: 50% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.masked-text-3{
    background: url("../../Media/red.png");
    background-size: 400%;
    background-position: 50% 0%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.masked-text-1, .masked-text-2, .masked-text-3{
    font-size: clamp(3rem,11vw,8rem);
}
