.Contact{
    height: 100vh;
    padding: 3% 10%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.Contact .heading{
    width: 50%;
    margin: 2% auto;
}

.Contact form{
    background-color: #201E23;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 5% 7%;
    display: flex;
    flex-direction: column;
}

textarea{
    color: white !important ;
    font-family: "Poppins" !important ;
    font-weight:"400" !important;
}

.contact-btn{
    margin: 2% !important;
    align-self: center;
}