@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  font-family: "Poppins";
}

h1{
  font-size: 8rem;
  font-weight: 900;
}

h3{
  font-size: 2rem;
}
